---
import type { Resume } from "@/types/Resume";
import resumeRaw from "../resume.json";
import ResumeLayout from "@/layouts/Resume.astro";
import About from "@/components/About.astro";
import Projects from "@/components/Projects.astro";
import Education from "@/components/Education.astro";
import Experience from "@/components/Experience.astro";
import AfterHours from "@/components/AfterHours.astro";
import Header from "@/components/Header.astro";
const resumeData: Resume = resumeRaw;
---

<ResumeLayout>
  <Header header={resumeData.header} />
  <About about={resumeData.about} />

  <Projects projects={resumeData.projects} />
  <Experience experience={resumeData.experience} />
  <Education education={resumeData.education} />
  <AfterHours afterHours={resumeData.afterHours} />
  <p class="text-center text-gray-500 text-xs italic font-extralight">
    {resumeData.footerNote}
  </p>
</ResumeLayout>
