---
import type { Education } from "@/types/Resume";

interface Props {
  education: Education[];
}
const { education } = Astro.props;
---

<h3>Academic record</h3>
<div>
  {
    education.map((education) => (
      <div class="flex listing">
        <div class="flex-none w-70 flex-col flex justify-center">
          <h5>{education.institution}</h5>
          <p class="font-bold">{education.degree}</p>
          <p class="!font-thin !text-xs !text-gray-600 dark:!text-gray-400">
            {education.startDate} - {education.endDate}
          </p>
        </div>
        <div class="flex-1 flex-col flex justify-center text-justify">
          {education.description}
        </div>
      </div>
    ))
  }
</div>
