---
import type { Experience } from "@/types/Resume";

interface Props {
  experience: Experience[];
}
const { experience } = Astro.props;
---

<h3>Experience</h3>
<div>
  {
    experience.map((experience) => (
      <div class="flex flex-col md:flex-row listing">
        <div class="w-full md:w-70 flex-col flex justify-center mb-2 md:mb-0">
          <h5>{experience.company}</h5>
          <p class="font-bold">{experience.position}</p>
          <p class="!font-thin !text-xs !text-gray-600 dark:!text-gray-400">
            {experience.startDate} - {experience.endDate}
          </p>
        </div>
        <div class="flex-1 flex-col flex justify-center text-justify">
          <span set:html={experience.responsibilities} />
        </div>
      </div>
    ))
  }
</div>
